# deps
node_modules/
.pnpm-store/

# build
dist/
dist-ssr/
src-tauri/target/
src-tauri/gen/

# test
coverage/
test-results/
playwright-report/

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local
